<h1>Manage Page : Seasons list <%= link_to "Back &crarr;".html_safe, admin_dashboard_path, class: "btn btn-default btn-lg" %></h1>
<%= form_for [:admin,@page] do |f| %>
<div class="row">
    <div class="col-md-9">
        <%= f.text_area :content, class: "form-control form-ecart", placeholder: "Contenu du message.", rows: 10 %>
    </div>
    <div class="col-md-3">
        <div class="notice notice-info">
            <p>Le champ ci-dessus se réfère au message situé au dessus de la liste des saisons, dans la partie publique du site.</p>
        </div>
        <%= f.submit "Save &raquo;".html_safe, class: "btn btn-default btn-block btn-lg" %>
    </div>
</div>
<% end %>