<%= form_for [:admin, @season] do |f| %>
<h1>Edit period <%= f.submit t('button.save').html_safe, :class => "btn btn-success btn-lg" %> <%= link_to t('button.back').html_safe, admin_seasons_path, class: "btn btn-default btn-lg" %></h1>
<%= render "contributor/seasons/form", f: f %>
<% end %>
