/*
*= require bootstrap.min.css
*= require_self
*/
body {

}

#main-wrapper {
    width: 450px;
    margin: auto;
    text-align: center;
    margin-top:80px;
}
#footer {
    color:#CCC;
    position: absolute;
    left: 0;
    height: 30px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* FLASH */
#flash-wrapper {
    position:absolute;
    top:20px;
    width: 450px;
}
/* Htext */
.mh2 {
    color: #000;
    line-height: 1.5em;
    margin: 0px 0px 20px;
    font-weight: normal;
}
.hr2 {
    border-bottom: 1px solid #CCC;
}
.form-ecart {
    margin-bottom: 5px;
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-lg {
    padding: 35px;
    font-size: large;
}

.notice-success {
    border-color: #80D651;
}

.notice-success>strong {
    color: #80D651;
}

.notice-info {
    border-color: #45ABCD;
}

.notice-info>strong {
    color: #45ABCD;
}

.notice-warning {
    border-color: #FEAF20;
}

.notice-warning>strong {
    color: #FEAF20;
}

.notice-danger {
    border-color: #d73814;
}

.notice-danger>strong {
    color: #d73814;
}
.form-ecart {
    margin-bottom: 5px;
}
