<!-- Footer -->
<footer>
  <p>Copyright &copy; Mikan 2015 - @moutonnoireu & @fnux_ch  <% if user_signed_in? == false %> - <%= link_to "Connexion &raquo".html_safe, login_path, :class => "footer-link" %><% end %></p>
</footer>
